<!DOCTYPE html>
<html lang="en" class="h-screen w-screen bg-gradient-to-t from-green-300 via-transparent to-orange-300">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo List</title>
</head>
<body>
